<html>
    <head>
        <title>Tsudama</title>
    </head>
    <body>
    <p>book_list.htmlでは、出品された全ての本を表示します。今はbook_listがトップページになってます。</p>
    
        {% for book in books %}
        <h2>書籍名:{{ book.title }}</h2>
        <p>著者名:{{ book.author }}</p>
        <p>出版社:{{ book.publisher }}</p>
        <p>出版日:{{ book.published_date }}</p>
        <p>版数:{{ book.version }}</p>
        <p>ISBN:{{ book.isbn }}</p>
        <p>宣伝文:{{ book.text }}</p>
        <p>状態:{{ book.state }}</p>
        <p>価格:{{ book.price }}</p>
        {% endfor %}
    </body>
</html>
