<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>first</title> <!--サイトの名前-->
    
  </head>
  <body>
    <center>
      <img src="logo.png" alt="ロゴ" width="300" height="200">
      
      
      <p>~津田塾大学生のためのフリーマーケット~</p>
   
    <!--<button type=“button” onclick="location.href='https://www.sejuku.net'">遷移！</button>
	URLで飛ばすやり方
      -->

  
    <button type="button" style="width:100px;height:50px">新規登録</button>
    <button type="button" style="width:100px;height:50px">ログイン</button>
</center>
</body>
</html>
