{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <title>product</title> <!--サイトの名前-->

  </head>
  <body>
    <div class="header"></div>
    <center>
     <!--<img src="logo.png" alt="ロゴ" width="150" height="100">-->
     <div class="main_img"></div><!--画像（ロゴ）表示-->
      </center>
    <!--<button type=“button” onclick="location.href='https://www.sejuku.net'">遷移！</button>
	URLで飛ばすやり方
      -->
    <div class="flame" style="padding: 10px; margin-bottom: 10px; border: 1px solid #8b8888; border-radius: 10px;">
      <h2>〜教科書名〜</h2>
      <button id="good" type="button">♡</button>
      <p id="goodmoji">いいね！</p>
      <a href="{% url 'talk' %}"><button id="talk" type="button">交渉へ</button></a>
    </div>

    <p id="exhibitor">出品者　▼</p>
    <div class="flame2" style="padding: 10px; margin-bottom: 10px; border: 1px solid #8b8888; border-radius: 10px;">
      <p id="exhibitor-infomation">出品者情報</p>

    </div>

  </body>
</html>
