<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>talk</title> <!--サイトの名前-->
    
  </head>
  <body>
    <center>
    <img src="logo.png" alt="ロゴ" width="150" height="100">
      </center>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
      <p>教科書情報</p>
      <button type="button">いいね</button>
    </div>
    
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
      <p>トーク画面</p>
      
    </div>

    
    <!--<button type=“button” onclick="location.href='https://www.sejuku.net'">遷移！</button>
	URLで飛ばすやり方
      -->
    
    
  </body>
</html>
